@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.containerB{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  max-width: 900px;
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 15px 20px #ABB2B9;
  border-radius: 30px;
}

.container h2{
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  color: #FFC300;
  padding-bottom: 8px;
  border-bottom: 3px solid #7AB201 ;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.input-box:nth-child(2n){
  justify-content: end;
}

.input-box label{
  width: 95%;
  color: #5F8C00;
  font-weight: bold;
  margin: 5px 0;
}

.input-box input{
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.input-box input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.input-box select{
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.input-box select:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button-container{
  margin: 15px 0;
}

.button-container button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right,#25233e, #7AB201);
}

.button-container button:hover{
  background-image: linear-gradient(to right, #7AB201,#25233e);
}




